.btnToBack, .btnToBackDark {
    display: none;
}

.header{
    display: flex;
    align-items: flex-start;
    padding-top: 0.8rem!important;
    padding-bottom: 0.8rem!important;
}

@media (max-width: 990px) {

    /*TODO btnToBack*/
    .btnToBack, .btnToBackDark {
        display: block;
        box-sizing: border-box;
        padding: 0 25px 8px;
        margin: 0 15px 0 0;
        outline: none;
        border: 1px solid #fff;
        border-radius: 50px;
        height: 46px;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
        color: #444;
        background-color: #fff;
        box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
        cursor: pointer;
        user-select: none;
        appearance: none;
        touch-action: manipulation;
        vertical-align: top;
        transition: box-shadow 0.2s;

        &:focus-visible {
            border: 1px solid #4c51f9;
            outline: none;
        }
    
        &:hover {
            transition: all 0.2s;
            box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
        }
    
        &:active {
            background-color: #808080;
        }
    
        &:disabled {
            background-color: #eee;
            border-color: #eee;
            color: #444;
            cursor: not-allowed;
        }
    }

    .btnToBackDark{
        background-color: transparent;
        border-color: #be3144;
        color:#be3144;

        &:hover{
            background-color: #303841;
        }
    }
}

.profileUser, .profileUserDark{
    width: 100%;
    padding: 0 5px 0 5px;

    &:hover{
        cursor: pointer;
    }

    .offline{
        color: red;
    }
    
    .online{
        color: greenyellow;
    }
}

.profileUserDark{
    strong{
        color: #be3144;
    }

    .offline{
        color: #637a8a;
    }
    
    .online{
        color: #d3d6db;
    }
}
